<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="styles/main.css")
        link(rel="shortcut icon", href="img/favicon.png", type="image/png")
        title Diploma assignment in Figma
    body
        header
            div.auto-layout
                div.wrapper
                    div.menu
                        div.menu__logo
                            a(href="#")
                                img(src="img/menu__logo.png" alt="logo")
                        nav
                            ul.menu__box
                                li.menu__box__item
                                    a.menu__item(href="#") Home
                                li.menu__box__item
                                    a.menu__item(href="#") Product
                                li.menu__box__item
                                    a.menu__item(href="#") About
                                li.menu__box__item
                                    a.menu__item(href="#") Contact
                        button.menu__btn Login
                    
                    div.headline-text
                        h1.headline-text__h1 Lightning fast prototyping
                        div.headline-text__under Most calendars are designed for teams. Slate is designed for freelancers.
                        div.headline-text__button-box
                            button.headline-text__button-1(type="button" alt="Button get started") Get Started
                            button.headline-text__button-2(type="button" alt="button try for free") Try For Free
                    
                    div.browser
                        img.browser__item-1(src="img/browser-navigation.jpg", alt="browser serch pnel")
                        img.browser__item-2(src="img/browser-body.jpg", alt="browser body")

        main
            section
                div.first-slide
                    ul.first-slide__text-block
                        li.first-slide__item-1
                            h3 Just type
                        li.first-slide__item-2
                            h2 Fastest way to navigate
                        li.first-slide__item-3 Most calendars are designed for teams. Slate is designed for freelancers.
                        li.first-slide__button-box
                            button.first-slide__button-1(src="#" type="button" alt="download button") Download
                            button.first-slide__button-2(src="#" type="button" alt="button see walktrouth") See Walkthrough

            section
                div.second-slide
                    div.wrapper
                        div.second-slide__container
                            ul.second-slide__text-block
                                li.second-slide__text-block__item-1
                                    h3 OpenType features 
                                li.second-slide__text-block__item-2 Most calendars are designed for teams. Slate is designed for freelancers who want a simple way to plan their schedule.
                                li.second-slide__text-block__item-3 
                                    a(href="#" alt="link learn more") learn more
                            
                            div.second-slide__img                    
                                img(src="img/second-slide-img.svg" alt="")                    

            section
                div.third-slide
                    div.wrapper
                        div.third-slide__container
                            div.third-slide__img
                                img(src="img/third-slide-img.svg" alt="")

                            ul.third-slide__text-block
                                li.third-slide__text-block__item-1
                                    h3 Variable fonts
                                li.third-slide__text-block__item-2 Most calendars are designed for teams. Slate is designed for freelancers 
                                li.third-slide__text-block__item-3
                                    a(href="#" alt="link learn more") learn more

            section    
                div.quad-slide
                    div.quad-slide__container
                        h2 A rethink of how we work
                        p Being a freelancer is a rollercoaster of emotions. We built Slate to keep your
                        div.quad-slide__bar
                            div.quad-slide__redy-bar
                        div.quad-slider__underbar-information
                            div.quad-slider__ssetings Facebook
                            div.quad-slider__many-users 35,929
                        button.quad-slide__btn(src="#" alt="you can start use free version") Get Started For Free

            
            section
                div.fifth-slide
                    div.wrapper
                        ul.fifth-slide__container
                            li
                                h3 Testimonials
                            li.fifth-slide__responses
                                img(src="img/fifth-slide-img.jpg", alt="")
                            li.fifth-slide__text
                                p Being a freelancer is a rollercoaster of emotions. We built Slate to keep your freelance business less stressful. We'd love to show you what we're building...
                            li.fifth-slide__sender
                                div.fifth-slide__avatar
                                    img.fifth-slide__avatar__img(src="img/fifth-slide-avatar.jpg", alt="sender avatar")
                                div.fifth-slide__info
                                    div.fifth-slide__info__company
                                        p Esther Webb
                                    div.fifth-slide__info__position
                                        p Designer
                            li
                                button.fifth-slide__btn(src="#" alt="click to see more responses") All Testimonials
            
            section
                div.sixth-slide
            
            section
                div.last-slide   
