<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="styles/main.css")
        link(rel="shortcut icon", href="img/favicon.png", type="image/png")
        title Diploma assignment in Figma
    body
        header
            div.auto-layout
                div.menu
                    div.menu__logo
                        a(href="#")
                            img(src="img/menu__logo.png" alt="logo" titile="nice logo of company")
                    nav
                        ul.menu__box
                            li.menu__box__item
                                a.menu__item(href="#") Home
                            li.menu__box__item
                                a.menu__item(href="#") Product
                            li.menu__box__item
                                a.menu__item(href="#") About
                            li.menu__box__item
                                a.menu__item(href="#") Contact
                    button.menu__btn Login
                
                div.headline-text
                    h1.headline-text__h1 Lightning fast prototyping
                    div.headline-text__under Most calendars are designed for teams. Slate is designed for freelancers.
                    div.headline-text__button-box
                        button.headline-text__button-1(type="button") Get Started
                        button.headline-text__button-2(type="button") Try For Free
                
                img.backround-img-1(src="img/vector-picture-blue.svg", alt="background picture")

                img.backround-img-2(src="img/vector-picture-yellow.svg", alt="background picture")
                
                div.browser
                    img.browser__item-1(src="img/browser-navigation.jpg", alt="browser serch pnel" titile="browser serch pnel")
                    img.browser__item-2(src="img/browser-body.jpg", alt="browser body" titile="browser body")

        main
            section.first-slide-layout
                ul.first-slide__text-block
                    li.first-slide__item-1 Just type
                    li.first-slide__item-2 Fastest way to navigate
                    li.first-slide__item-3 Most calendars are designed for teams. Slate is designed for freelancers.
                    li.first-slide__button-box
                        button.first-slide-layout__button-1(src="#" type="button" alt="download button" title="") Download
                        button.first-slide-layout__button-2(src="#" type="button" alt="button see walktrouth" titile="") See Walkthrough

            section.second-slide-layout
                ul.second-slide-layout__text-block
                    li.second-slide-layout__text-block__item-1 OpenType features 
                    li.second-slide-layout__text-block__item-2 Most calendars are designed for teams. Slate is designed for freelancers who want a simple way to plan their schedule.
                    li.second-slide-layout__text-block__item-3 
                        a(href="#" alt="") learn more
                
                img.second-slide-layout__img(src="img/second-slide-img.svg" alt="")

                img.second-slide-layout__background(src="img/second-slide-Vector-BG.svg" alt="")
                    

            section
                div.third-slide

            section    
                div.quad-slide
            
            section
                div.fifth-slide
            
            section
                div.sixth-slide
            
            section
                div.last-slide   
